@import "tailwindcss";

/* CONFIGURACIÓN PARA IMPRESORA TÉRMICA 80mm */
@media print {
  @page {
    margin: 0;
    size: 80mm auto;
  }
  body {
    margin: 0;
    padding: 0;
    background-color: white;
  }
}